<h1><%= image_tag("title.gif") %></h1>
<div id="leftbar">
  <div id="menu">
    Cheese<br/>
    Bread<br/>
    Meat<br/>
    veg<br/>
    Pies &amp; Tarts<br/>
    Drinks<br/>
    The Rest</br>
  </div>
</div>
<div id="main">
  <div id="selectionbox">
    <%= image_tag("bread.jpg", :size => "240x160") %>
    <%= image_tag("eggs.jpg", :size => "240x160") %>
    <%= image_tag("lettuce.jpg", :size => "240x160") %>
    <%= image_tag("mushroom.jpg", :size => "240x160") %>
    <%= image_tag("pigs.jpg", :size => "240x160") %>
    <%= image_tag("spinnach.jpg", :size => "240x160") %>
  </div>

</div>

