<h1><%= image_tag("fromwhereitsgrown.gif") %></h1>
<div id="leftbar">
  <div id="menu">
    <%= image_tag("menu/cheese.gif") %><br/>
    <%= image_tag("menu/meat.gif") %><br/>
    <%= image_tag("menu/bread.gif") %><br/>
    <%= image_tag("menu/veg.gif") %><br/>
    <%= image_tag("menu/pies.gif") %><br/>
    <%= image_tag("menu/drinks.gif") %><br/>
    <%= image_tag("menu/therest.gif") %><br/>
  </div>
</div>
<div id="main">
  <div id="selectionbox">
    <div class="SelectionImage Cell1" >
      <%= image_tag("bread.jpg", :size => "240x160") %>
    </div>
    <div class="SelectionText Cell1">
      CollingWood Master bakers bake using traditional recipes using local grain
    </div> 
    <div class="SelectionImage Cell2">
      <%= image_tag("eggs.jpg", :size => "240x160") %>
    </div> 
    <div class="SelectionText Cell2">
      Janes Barn love their chickens and their eggs taste amazing
    </div> 
    <div class="SelectionImage Cell3">
      <%= image_tag("lettuce.jpg", :size => "240x160") %>
    </div> 
    <div class="SelectionText Cell3">
      Mill Farm specialise in producing the ingredients for the finest salads
    </div> 
    <div class="SelectionImage Cell4">
       <%= image_tag("mushroom.jpg", :size => "240x160") %>
    </div> 
    <div class="SelectionText Cell4">
      Marvins Mushroom know where to find amazing wild mushrooms
    </div> 
    <div class="SelectionImage Cell5">
       <%= image_tag("pigs.jpg", :size => "240x160") %>
    </div> 
    <div class="SelectionText Cell5">
      Padstow Farm keep rare breed pigs
    </div> 
    <div class="SelectionImage Cell6">
       <%= image_tag("spinnach.jpg", :size => "240x160") %>
     </div>
    <div class="SelectionText Cell6">
      Tasty Veggies love veg and grow some of the best in the UK
    </div> 
  </div>

</div>

