<div id="selectionbox">
  <% i=0
  for producer in @producers
  cell_class = "Cell" + (i+=1).to_s -%>
  <div class="SelectionImage <%=cell_class %>" >
    <%= link_to(gfc_image_tag(producer.image,producer.name),
    :action => 'view', :id => producer.id) %>
  </div>
  <div class="SelectionText <%=cell_class %>">
    <b><%= producer.name %></b><br/><%= producer.summary %>
  </div> 
  <% end -%>
</div>
