<h1><%= image_tag("fromwhereitsgrown.gif") %></h1>
<div id="leftbar">
  <div id="menu">
    <%= image_tag("menu/cheese.gif") %><br/>
    <%= image_tag("menu/meat.gif") %><br/>
    <%= image_tag("menu/bread.gif") %><br/>
    <%= image_tag("menu/veg.gif") %><br/>
    <%= image_tag("menu/pies.gif") %><br/>
    <%= image_tag("menu/drinks.gif") %><br/>
    <%= image_tag("menu/therest.gif") %><br/>
  </div>
</div>
<div id="main">
  <div id="selectionbox">
    <%= image_tag("bread.jpg", :size => "240x160") %>
    <%= image_tag("eggs.jpg", :size => "240x160") %>
    <%= image_tag("lettuce.jpg", :size => "240x160") %>
    <%= image_tag("mushroom.jpg", :size => "240x160") %>
    <%= image_tag("pigs.jpg", :size => "240x160") %>
    <%= image_tag("spinnach.jpg", :size => "240x160") %>
  </div>

</div>

