<% form_for @producer , :html => { :multipart => true } do |form| %>
<%= error_messages_for :producer %>
<table>
  <tr>
    <td width="50%">Your name:</td><td> <%= form.text_field :name %></td>
  </tr>
  <tr>
    <td>
      What are you all about? This will go on the front page when 
      somebody puts their mouse over your image (10-20 words):
    </td>
    <td> 
      <%= form.text_area :summary, :rows => 3 %>
    </td>
  </tr>
  <tr>
    <td rowspan=2>
      Upload an image that shoes YOU and your PRODUCE. 
      Produce may be dead or alive, you should be alive
    </td> <td > <%= image_tag @producer.image_path, :size => "120x80" if @producer.image %> </td> 
    </tr> 
    <tr>
       <td><%= form.file_field :uploaded_data %></td>
  </tr>
  <% @producer.answers.each do |@answer|
    question = @answer.question 
    fields_for @answer, :index => @answer.id do |ans|%>
  <tr>
    <td>
      <%= question.name %>
    <td>
      <%= ans.text_area :text, :rows => 3 %>
      <%= ans.hidden_field :question_id %>
    <td>
  <tr>
  <tr>
    <td>
      Upload an image that shows it:
    </td>
     <td><%= ans.file_field :uploaded_data %></td>
  </tr>
  <% end -%>
  <% end -%>
  <tr>
    <td>
      Now those improtant details of how the customers can get to you? Where can they buy your producer?
    </td>
    <td>
      Buy text goes here
    </td>
  </tr>
  <tr>
    <td>Address:</td><td> <%= form.text_area :address, :rows => 6 %></td>
  </tr><tr>
    <td>Website URL if you've got one:</td><td> <%= form.text_field :website %></td>
  </tr><tr>
    <td>Email address</td><td> <%= form.text_field :email %></td>
  </tr><tr>
    <td>Telephone Number</td><td> <%= form.text_field :tel %></td>
    </tr>
</table>
  <%= submit_tag %>
<% end %>
