- form_for @producer , :html => { :multipart => true } do |form| 
  = error_messages_for :producer 
  %fieldset
    %legend You?
    %p
      %label Your name
      = form.text_field :name
    %p
      %label
        What are you all about? This will go on the front page when 
        somebody puts their mouse over your image (10-20) words
      = form.text_area :summary, :class => "summary" 
    %p
      %label
        = image_tag @producer.image_path if @producer.image 
        Upload an image that shoes YOU and your PRODUCE. 
        Produce may be dead or alive, you should be alive
      = form.file_field :uploaded_data 
    .spacer
  - @producer.answers.each do |@answer|
    - question = @answer.question 
    - fields_for @answer, :index => @answer.id do |ans|
      %fieldset
        %legend= question.title
        %p
          %label= question.name
          = ans.text_area :text, :class => "text"
          = ans.hidden_field :question_id
        %p
          %label 
            = image_tag @answer.image_path if @answer.image 
            Upload an image that shows it:
          = ans.file_field :uploaded_data 
        .spacer
  %fieldset
    %legend Contact?
    %p 
      Now those improtant details of how the customers can get to you? Where can they buy your produce?
      %label Address
      = form.text_area :address, :class => "text"
    %p
      %label Website URL if you've got one:
      = form.text_field :website 
    %p
      %label Email address
      = form.text_field :email 
    %p
      %label Telephone Number
      = form.text_field :tel 
    .spacer
  %fieldset
    %legend Admin?
    %p
      %label Status
      = form.select :status, %w{draft ready active}
    - fields_for :user do |u|
      %p
        %label Login Password
        = u.password_field :password
      %p
        %label Confirm Password
        = u.password_field :password_confirmation
  .submission= submit_tag 
