<% form_for @producer , :html => { :multipart => true } do |form| %>
<table>
  <tr>
    <td>Name:</td><td> <%= form.text_field :name %></td>
  </tr><tr>
    <td>Summary:</td><td> <%= form.text_area :summary, :rows => 3 %></td>
    </tr><tr>
      <td>Upload a pic that shows you and some of the things you produce:</td>
      <td> 
        <%= file_field :image, :uploaded_data %>
        <%= image_tag @producer.not_null_image %>
      </td>
    </tr>
</table>
  <%= submit_tag %>
<% end %>
