<html>
  <head>
    <title>Passion not profit....</title>
    <%= stylesheet_link_tag 'gfc' %>
    <%= javascript_include_tag "jquery", "browse" %>
  </head>
  <body>
    <h1><%= image_tag("fromwhereitsgrown.gif") %></h1>
    <div id="leftbar">
      <div id="menu">
        <%= image_tag("menu/cheese.gif") %><br/>
        <%= image_tag("menu/meat.gif") %><br/>
        <%= image_tag("menu/bread.gif") %><br/>
        <%= image_tag("menu/veg.gif") %><br/>
        <%= image_tag("menu/pies.gif") %><br/>
        <%= image_tag("menu/drinks.gif") %><br/>
        <%= image_tag("menu/therest.gif") %><br/>
      </div>
    </div>
    <div id="main">
      <%= yield :layout %>
    </div>
  </body>
</html>
